.filter span {
  font-size: 1.3em;
}

.button {
  padding: 0;
  margin-bottom: 20px;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

/*# sourceMappingURL=BookFilter.module.css.map */
