.app {
  margin-left: 25%;
  margin-top: 5%;
}

.app__body {
  max-width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 30px 100px 30px 100px;
  border-radius: 15px;
}

/*# sourceMappingURL=App.css.map */
